annotated-doc==0.0.4
beautifulsoup4==4.13.4
colorama==0.4.6
linkify-it-py==2.1.0
markdown-it-py==4.2.0
markdownify==1.2.2
mdit-py-plugins==0.6.1
mdurl==0.1.2
platformdirs==4.10.0
Pygments==2.20.0
requests==2.32.3
selenium==4.45.0
rich==15.0.0
shellingham==1.5.4
textual==8.2.7
typer==0.26.7
typing_extensions==4.15.0
uc-micro-py==2.0.0
watchdog==6.0.0
